docker-compose.yml
.git
.github/
README.md
docs/
src/
app/
dist/
*.sh
*.md

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git

.idea
.vscode
.DS_Store
node_modules
